@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #090d16;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #334155;
}

/* Leaflet dark theme adjustments */
.leaflet-container {
  background-color: #0b132b !important;
  font-family: inherit;
}

.leaflet-control-container .leaflet-routing-container-hide {
  display: none;
}

/* Custom animated path pulse */
@keyframes pulsePath {
  0% {
    stroke-dashoffset: 20;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.animated-evacuation-path {
  stroke-dasharray: 8, 8;
  animation: pulsePath 1.5s linear infinite;
}
